html{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: violet;
    border: 1px solid black;
    display: grid;
    grid-auto-flow: row;
    width: 80%;
    height: 60%;
    max-width:1000px;
    position: relative;
    background-image: url('https://images.app.goo.gl/9c4N4f9DBS76Aa6w6');
    position : center;
    justify-content: stretch;
    
}

.grid{
    display: grid;
    width: 1000px;
    height: 200px;

    grid-template-rows: 200px; 
    grid-template-columns: repeat( 4, 1fr);
    background-color: white;
    
}

#button{
    background-color: yellow;
}

nav{
    position: relative;
    background-color: yellow;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1000px;
    height: 50px;
    display: grid;
    grid-area: 1/1/2/5;
    font-weight: bold;
    margin:auto;
}

.value{
    background-color: yellow;
}

#var{
    
        position: relative;
        background-color: white;
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 1000px;
        height: 50px;
        display: grid;
        grid-area: 1/1/2/5;
        font-weight: bold;
        column-gap: 10px;
        
    }



footer{
    position: relative;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    width: 1000px;
    height: 100px;
    grid-template: repeat(2,1fr) / repeat(6,1fr);
}

   .tab{
    
    border-image-width:2px;
    background-color: yellow;
    position: relative;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    
   }

.image{
    width:30px;
    height:20px;
}

.fimg{
    padding: 0.1px;
    width: 150px;
    height: 100px;
}
.head{
    margin:px;

}

.timg{
    width: 200px;
    height: 200px;

}

.img{
    
        width: 600px;
        height: 200px;
    

}

